/* footer ----------------------------------------------------------- */
.footer {
  position: relative;
  background-color: #464d52;
  padding: 40px 0 50px;
}
.footer .footer__inner {
  /* position: relative; */
  max-width: 100%;
  /* height: 244px; */

  /* background-color: #464d52; */
}
.footer .footer__inner .footer_layout {
  /* position: relative; */
  width: 1200px;
  margin: 0 auto;
}
.footer_layout .foot_dep1 ul {
  display: flex;
  margin-bottom: 20px;
}

.footer_layout .foot_dep1 li + li {
  margin-left: 20px;
}

.footer_layout .foot_dep1 a {
  display: block;
  padding: 10px 0;
  color: #fff;
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
}
.foot_dep1 li:hover a {
  text-decoration: underline;
}

.footer_layout .foot_dep1 .emphasis {
  color: red;
}
.footer_layout .foot_dep1 .pink_txt {
  color: #f0b9b2;
}

.footer_layout .foot_wa {
  position: absolute;
  bottom: 150px;
  left: 50%;
  margin-left: 380px;
}
.footer_layout .foot_wa img {
  width: 70px;
}
.footer_layout .address {
  /* margin-top: -15px; */
  font-style: unset; /* address태그 이탤릭효과 없애기 */
}
.footer_layout .address p {
  line-height: 21px;
  color: #fff;
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
}
.footer_layout .footer_links {
  /* position: relative;
  top: -10px;
  left: 83%; */
  text-align: right;
}
.footer_layout .footer_links a {
  color: white;
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
}

.footer_layout .footer_links .top a {
  /* position: relative; */
  /* top: 13px; */
  display: block;
  padding: 12px 15px 14px;
}

.footer_layout .footer_links .quick {
  display: inline-block;
  width: 145px;
  height: 48px;
}
.footer_layout .footer_links .btn_quick {
  position: relative;
  display: block;
  /* top: 13px; */
  /* left: 20px; */
  padding: 12px 45px 14px 22px;
  border: 1px solid #ddd;
}

.footer_layout .footer_links .quick .quick_arr {
  position: absolute;
  top: 20px;
  left: 115px;
  width: 11px;
}

/* quick links sprite arr background */
.footer_layout .footer_links .quick .quick_arr {
  background: url(../gist_images/footer_up_down_arr.png) no-repeat;
  width: 11px;
  height: 6px;
  /* transition: all 0.3s ease; */
}
/* .footer_layout .footer_links .quick:active .quick_arr {
  transform: rotate(180deg);
} */

.footer_layout .footer_links .top {
  display: inline-block;
  width: 58px;
  height: 48px;
  border: 1px solid #ddd;
}

/* */
.cont_quick {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 25px;
  margin: 0 auto;
  text-align: left;
  background: #31363a;
}

.cont_quick .inner_quick {
  max-width: 1200px;
  margin: 0 auto;
}

.cont_quick .box_quick + .box_quick {
  margin-top: 20px;
}

.box_quick .tit_quick {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  color: #fff;
  font-family: "Noto Sans KR", sans-serif;
}

.list_quick {
  margin-left: 1%;
}
.box_quick .list_quick li {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  max-width: 18%;
}
.list_quick a {
  position: relative;
  display: block;
  padding: 5px 0;
  color: #fff;
}
.list_quick a::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 3px;
  height: 3px;
  margin: -3px 7px 0 0;
  background: #df3123;
}

/* .check {
  position: absolute;
  right: 100px;
  top: 47px;
} */
