@charset "UTF-8";
/* gmarket font - header__top적용 */
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  overflow-y: scroll;
}
body {
  background-color: green;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  color: black;
}
/* clear fix */
.cf {
  content: "";
  display: block;
  clear: both;
}

/* layout */

[class*="__cover"] {
  width: 100%;
  max-width: 1400px;
  margin: auto;
}
/* 컨텐츠 넣으면 뺄예정 */
[class*="__cover"] {
  height: inherit;
}

/* -------------------------header-top--------------------------- */
.header__top {
  background-color: #2e363d;
  height: 50px;
}

.header__top .util {
  display: flex;
  justify-content: center;
}
.header__top ul li {
  margin: 14px 30px;
}

.header__top ul a {
  /* display:inline-block; */
  /* text-align: center; */
  /* width:110px; */
  font-family: "GmarketSansMedium";
  color: white;
  /* tip a에 padding을주면 클릭범위가 늘어난다 */
  padding: 3px 50px;
  font: 16px;
  position: relative;
}

.header__top ul a span {
  color: #df3326;
}

.header__top ul a:hover::before {
  content: "";
  display: block;
  bottom: -9px;
  height: 4px;
  width: 100%;
  position: absolute;
  background-color: #df3127;
} /* header__top end */

/* -------------------------header-bottom--------------------------- */
.header__bottom {
  /* background-color: #2e363d; */
  background-color: rgb(46, 54, 61, 0.5);
  height: 140px;
  display: flex;
  /* position: relative; */
}

/* ----logo---- */
.header__bottom .logo {
  margin-left: 30px;
  padding-top: 47px; /* 윗간격조절 */
  /* position: absolute;
  bottom:55px; */
}
.header__bottom .logo img {
  width: 223px;
  height: 33px;
} /* logo end */

/* gnb1+gnb2 */
.header__bottom .gnb {
  display: flex;
  align-items: center;
  padding-top: 44px; /* 윗간격조절 */
}

/* ---------- */
/* gnb1(middle) */
.gnb1 {
  margin-left: 60px;
  /* position: absolute;
  bottom:42px; */
}
.gnb1 > ul {
  display: flex; /* dep1까지만 flex */
}
.gnb1 > ul > li > a {
  padding: 0 12px;
  /* font-family: , sans-serif; */
  color: white;
  font: 16px "Noto Sans KR";
  position: relative;
} /* middle GNB end*/

.gnb1 ul li a:hover:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -13px;
  height: 2px;
  width: 100%;
  background-color: #df3127;
}

/* ---------- */
/* right GNB2 */
.gnb2 {
  margin-left: 24px;
  /* position: absolute;
  bottom:50px; */
}
.gnb2 ul {
  display: flex;
  align-items: center;
}
.gnb2 ul li {
  margin-left: 10px;
}

.gnb2 ul li a {
  color: white;
  font: 14px "arial";
  padding: 0 10px;
  position: relative;
}

.gnb2 ul li:last-child a {
  display: block;
  padding-top: 15px;
}

.gnb2 ul li:nth-child(-n + 4) a::before {
  content: "";
  display: block;
  position: absolute;
  background-color: white;
  height: 2px;
  width: 100%;
  bottom: -10px;
} /* right GNB end*/

/* ******* */
/* dep2숨김 */
.dep2 {
  display: none;
  margin-top: 53px; /* dep2 위치 */

  /* background-color: #25272d; */
}

/* dep1 올릴시 나타남 */
.dep1 li:hover .dep2 {
  display: block;
}
.dep2 > li {
  background-color: #25272d;
}
/* depth 2 */
.dep2 > li > a {
  color: #df3326;
  font: 14px "arial";
  /* width: 150px; */
  padding: 10px 30px 10px 10px;
}

.dep2 > li:hover > a {
  display: block;
  background-color: #ef4030;
  color: white;
  /* padding: 10px 0 10px 25px; */
}

/* depth 3 */
.dep3 img {
  display: inline-block;
  margin: 0 8px 0 8px;
}

.dep3 li {
  width: 170px;
  height: 30px;
}
.dep3 li a {
  color: #b4b6c1;
  font-size: 14px;
  padding: 4px 4px 10px 0;
}

.dep3 li:hover a {
  color: white;
  text-decoration: underline;
}
