@charset "UTF-8";
/* gmarket font - header__top적용 */
/* 나눔스퀘어font */
@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css");

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* noto sans kr */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: black;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  /* 계단현상 완화 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: green;
}

/* clear fix */
.cf {
  content: "";
  display: block;
  clear: both;
}

/* layout */

[class*="__inner"] {
  width: 100%;
  max-width: 1440px;
  margin: auto;
}
/* 컨텐츠 넣으면 뺄예정 */
[class*="__inner"] {
  height: inherit;
}

.header {
  position: relative;
  z-index: 20;
}

/* -------------------------header-top--------------------------- */
.header__top {
  background-color: #2e363d;
  height: 50px;
}

.header__top .util {
  display: flex;
  justify-content: center;
}

.header__top > .headertop__inner > ul > li {
  margin: 14px 30px;
}

.header__top .headertop__inner .util a {
  /* display:inline-block; */
  /* text-align: center; */
  /* width:110px; */
  font-family: "GmarketSansMedium";
  color: white;
  /* tip a에 padding을주면 클릭범위가 늘어난다 */
  padding: 3px 50px;
  font: 16px;
  position: relative;
}
/* out line */
/* .header__top ul a:focus {
  outline:1px dashed white;
} */

.header__top ul a span {
  color: #df3326;
}

.header__top .headertop__inner ul a:hover::before {
  content: "";
  display: block;
  bottom: -9px;
  height: 4px;
  width: 100%;
  position: absolute;
  background-color: #df3127;
} /* header__top end */

/* -------------------------header-bottom--------------------------- */
.header__bottom {
  /* background-color: #2e363d; */
  background-color: rgb(46, 54, 61, 0.5);
  height: 140px;
  display: flex;
  /* position: relative; */
}
.header__bottom .headerbottom__inner {
  display: flex;
}

/* ----logo---- */
.header__bottom .logo {
  margin-left: 30px;
  padding-top: 47px; /* 윗간격조절 */
  /* position: absolute;
  bottom:55px; */
}
.header__bottom .logo img {
  width: 290px;
  /* height: 33px; */
} /* logo end */

/* gnb1+gnb2 */
.header__bottom .gnb {
  display: flex;
  align-items: center;
  padding-top: 12px; /* 윗간격조절 */
  padding-left: 16px;
}

/* ---------- */
/* gnb1(middle) */
.gnb1 {
  margin-left: 60px;
  /* position: absolute;
  bottom:42px; */
}
.gnb1 > ul {
  display: flex; /* dep1까지만 flex */
}
.gnb1 > ul > li > a {
  padding: 55px 11px;
  /* font-family: , sans-serif; */
  color: white;
  font: 17px "NanumSquare", sans-serif;
}
/* position: relative; */
/* middle GNB end*/

/* .gnb1 ul li a:hover:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -13px;
  height: 2px;
  width: 100%;
  background-color: #df3127;
} */

/* ---------- */
/* right GNB2 */
.gnb2 {
  margin-left: 24px;
  position: absolute;
  top: 94px;
}
.gnb2 ul {
  display: flex;
  align-items: center;
}
.gnb2 ul li {
  margin-left: 10px;
}

.gnb2 ul li a {
  color: white;
  font: 14px "Noto Sans KR", sans-serif;
  padding: 0 10px;
  position: relative;
}

.gnb2 ul li:last-child a {
  display: block;
  padding-top: 15px;
}

.gnb2 ul li:nth-child(-n + 4) a::before {
  content: "";
  display: block;
  position: absolute;
  background-color: white;
  height: 2px;
  width: 100%;
  bottom: -10px;
} /* right GNB end*/

/* ******* */
/* 12.12수정 */
/* dep2 박스조정 */
.dep2 {
  display: none;
  position: absolute;
  top: 190px;
  left: 300px;
  width: 1131px; /* dep2 위치 */
}

/* dep1 올릴시 나타남 */
.dep1 li:hover .dep2 {
  display: block;
}
.dep2 > li {
  display: flex; /* de2 list의 다음 왼쪽정렬 */
  background-color: #384046;
}
/* depth 2 */
.dep2 > li > a {
  /* new지식 */
  flex-shrink: 0;
  display: inline-block;
  /* border-bottom: 1px solid #25272d; */
  width: 199px;
  background-color: #2e363d;
  color: #df3326;
  font: 14px "arial";
  /* width: 150px; */
  padding: 10px 30px 10px 10px;
}
.dep2 > li + li {
  border-top: 1px solid #25272d;
}

.dep2 > li:hover > a {
  display: block;
  background-color: #ef4030;
  color: white;
  /* padding: 10px 0 10px 25px; */
}

/* depth 3 */
/* 12.12수정 q */
.dep3 {
  /* q */
  /* overflow: hidden; */
  /* width: calc(100% - 224px); */
  width: 100%;
  padding: 5px 15px;
  line-height: 1.75;

  /* 12-11 추가 */
}
.dep3 img {
  display: inline-block;
  margin: 0 8px 0 8px;
}
/* 12.12수정 */
.dep3 li {
  float: left; /* dep3 list 컨텐츠 왼쪽정렬 */
  width: 33.33%; /* 컨텐츠 3개씩 정렬 */
}
.dep3 li a {
  color: #b4b6c1;
  font-size: 14px;
  padding: 4px 4px 10px 0;
}

.dep3 li:hover a {
  color: white;
  text-decoration: underline;
}

/* ----------------section1(main visual)--------------------- */

.section1 .section1__inner {
  position: static; /* 기본값 */
  max-width: 100%;
  height: 950px;
  background: url(./gist_images/gist_mainvisual.png) no-repeat;
  background-size: cover;
}
/* -----------------section2--------------------------------- */
/* 전체틀 */
.section2 {
  position: relative; /* 캘린더박스 absolute 기준 */
  width: 100%;
  height: 877px;
  background-color: white;
  padding: 95px 0;
}

/* 섹션 이너 1200.. */
section [class*="__inner"] {
  max-width: 1200px;
}

/* -- sec2_ notice1 -- */

/* h2와 ul 플랙스 */
.section2 .notice_1 {
  /* dep2기준잡기위해 */
  position: relative;
  display: flex;
  align-items: flex-end;
}

/* h2태그 (NOW)*/
.notice_1 h2 {
  display: inline-block;
  font-size: 50px;
  line-height: 52px;
  color: #484848;
  font-weight: 600;
  letter-spacing: -3px;
  font-family: "Nanum Myeongjo", serif;
}
/* dep1 메뉴들 플렉스 */
.notice_1 .NOW_dep1 {
  display: flex;
  margin-left: 40px; /* h2태그와 간격주기위해 */
}

/* dep1 속성들 */
.notice_1 .btn {
  /* position: relative; */
  display: inline-block;
  padding: 0 10px 12px;
  margin: 0 10px;
  font-size: 20px;
  line-height: 22px;
  color: #4b4d50;
  letter-spacing: -1px;
  text-align: center;
  font-family: "Nanum Myeongjo", serif;
}

/* dep2 전체 ul덩어리들 */
.notice_1 .count {
  /* display: none; */
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
}

.NOW_dep2 li {
  /* position: relative; */
  display: flex;
  width: 46%; /* morebox 공간주기위해 46퍼 */
  padding: 10px 4.5% 9px 4.5%;

  /* 태그 등의 영역 크기를 100px으로 설정했을 때

  /* ***************** */
  /* 개념 다시 알아보기 */
  /* width height값 영향받게 패딩값 영향x*/
  box-sizing: border-box;
  /* align-items: center; */
}

.NOW_dep2 li:nth-child(even) {
  border-left: 1px dashed #ddd;
}

.NOW_dep1 .dep2_text {
  display: block;
  width: 100%;
  height: 50px;
  padding-right: 20px;
  font: 16px "Noto Sans KR", sans-serif;
  line-height: 25px;
  color: #000;
  letter-spacing: -1px;
  overflow: hidden;
}
.NOW_dep1 .day {
  display: block;
  font-size: 15px;
  line-height: 22px;
  color: #666;
  letter-spacing: -1px;
}

.NOW_dep2 {
  display: flex;
  /* ********************* */
  /* 개념 다시 알아보기 */
  /* 컨테이너가 더 이상 아이템들을 한 줄에 담을 여유 공간이 없을 때
아이템 줄바꿈을 어떻게 할지 결정하는 속성입니다. */
  flex-wrap: wrap;
}

/* ---morebox 관련--- */

.NOW_dep1 .count {
  display: flex;
  justify-content: flex-end;
}

.NOW_dep1 .more_box {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px dashed #c3c3c3;
}

.NOW_dep1 .more_box .more_txt {
  /* text */
  font: 13px "Noto Sans KR", sans-serif;
  display: inline-block;
  padding: 62px 0 20px 12px;
  position: relative;
  /* red pointer */
  /* position: absolute;
  left: 0;
  top: 0;
  background-color: red;
  width: 1px;
  height: 76px; */
}

/* 가로줄 */
.NOW_dep1 .more_box .more_txt::before {
  /* red pointer */
  content: "";
  position: absolute;
  left: 44px;
  top: 28px;
  background-color: red;
  width: 76px;
  height: 1px;
  transition: all 0.4s;
}

/* 세로줄 */
.NOW_dep1 .more_box .more_txt::after {
  /* red pointer */
  content: "";
  position: absolute;
  left: 83px;
  top: -7px;
  background-color: red;
  width: 1px;
  height: 76px;
  transition: all 0.4s;
}
/* 호버시 redpointer 좌표값 */
.NOW_dep1 .more_box:hover .more_txt::before {
  left: 25px;
  top: 36px;
}

.NOW_dep1 .more_box:hover .more_txt::after {
  left: 62px;
  top: 0px;
}

/* -- sec2_ notice2 -- */

/* 캘린더전체위치기준 */
.section2 .notice_3 {
  position: relative;
  top: 300px;
  left: 608px;
}
/* 최상위 제목 */
.notice_3 .cal_h2 {
  font: 50px "Nanum Myeongjo", serif;
  color: #df3127;
  letter-spacing: -4px;
  font-weight: bold;
}
/* 2nd 제목 */
.notice_3 .cld_title {
  font: 42px "Nanum Myeongjo", serif;
  font-weight: bold;
  margin: 20px 0 40px 0;
}
.notice_3 .cld_flex {
  display: flex;
}

/* red_big : 일 */
.notice_3 .cld_day {
  font: 40px "Nanum Myeongjo", serif;
  color: #df3127;
  font-weight: bold;
}
/* 월 */
.year_box .mon_year {
  /* display:block; */
  font: 14px "Noto Sans KR", sans-serif;
  color: #595959;
  line-height: 1.1;
  margin: 10px 0 0 15px;
}

.notice_3 .more_box {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px dashed #c3c3c3;
}

.notice_3 .more_box .more_txt {
  /* text */
  font: 13px "Noto Sans KR", sans-serif;
  display: inline-block;
  padding: 62px 0 20px 12px;
  position: relative;
  /* red pointer */
  /* position: absolute;
  left: 0;
  top: 0;
  background-color: red;
  width: 1px;
  height: 76px; */
}
