@charset "UTF-8";
/* gmarket font - header__top적용 */
/* 나눔스퀘어font */
@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css");

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* noto sans kr */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: black;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  /* 계단현상 완화 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: green; */
}

/* clear fix */
.cf {
  content: "";
  display: block;
  clear: both;
}

/* layout */
[class*="__inner"] {
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

/* 컨텐츠 넣으면 뺄예정 */
[class*="__inner"] {
  height: inherit;
  /* 
  height
  50 header top
  120 header bot
  830 sec1
  877 sec2
  910 sec3
  225 sec4
  937 sec5
  244 footer
   */
}

.header {
  position: relative;
  z-index: 20;
}

/* -------------------------header-top--------------------------- */
.header__top {
  background-color: #2e363d;
  height: 50px;
}

.header__top .util {
  display: flex;
  justify-content: center;
}

.header__top > .headertop__inner > ul > li {
  margin: 14px 30px;
}

.header__top .headertop__inner .util a {
  /* display:inline-block; */
  /* text-align: center; */
  /* width:110px; */
  font-family: "GmarketSansMedium";
  color: white;
  /* tip a에 padding을주면 클릭범위가 늘어난다 */
  padding: 3px 50px;
  font: 16px;
  position: relative;
}
/* out line */
/* .header__top ul a:focus {
  outline:1px dashed white;
} */

.header__top ul a span {
  color: #df3326;
}

.header__top .headertop__inner ul a:hover::before {
  content: "";
  display: block;
  bottom: -9px;
  height: 4px;
  width: 100%;
  position: absolute;
  background-color: #df3127;
} /* header__top end */

/* -------------------------header-bottom--------------------------- */
.header__bottom {
  /* background-color: #2e363d; */
  background-color: rgb(46, 54, 61, 0.5);
  height: 140px;
  display: flex;
  /* position: relative; */
}
.header__bottom .headerbottom__inner {
  display: flex;
}

/* ----logo---- */
.header__bottom .logo {
  margin-left: 30px;
  padding-top: 47px; /* 윗간격조절 */
  /* position: absolute;
  bottom:55px; */
}
.header__bottom .logo img {
  width: 290px;
  /* height: 33px; */
} /* logo end */

/* gnb1+gnb2 */
.header__bottom .gnb {
  /*  */
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 12px; /* 윗간격조절 */
  padding-left: 16px;
}

/* ---------- */
/* gnb1(middle) */
.gnb1 {
  margin-left: 60px;
  /* position: absolute;
  bottom:42px; */
}
.gnb1 > ul {
  display: flex; /* dep1까지만 flex */
}
.gnb1 > ul > li > a {
  padding: 55px 11px;
  /* font-family: , sans-serif; */
  color: white;
  font: 17px "NanumSquare", sans-serif;
}
/* position: relative; */
/* middle GNB end*/

/* .gnb1 ul li a:hover:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -13px;
  height: 2px;
  width: 100%;
  background-color: #df3127;
} */

/* ---------- */
/* right GNB2 */
.gnb2 {
  margin-left: 24px;
  position: absolute;
  top: 40px;
}
.gnb2 ul {
  display: flex;
  align-items: center;
}
.gnb2 ul li {
  margin-left: 10px;
}

.gnb2 ul li a {
  color: white;
  font: 14px "Noto Sans KR", sans-serif;
  padding: 0 10px;
  position: relative;
}

.gnb2 ul li:last-child a {
  display: block;
  padding-top: 15px;
}

.gnb2 ul li:nth-child(-n + 4) a::before {
  content: "";
  display: block;
  position: absolute;
  background-color: white;
  height: 2px;
  width: 100%;
  bottom: -10px;
} /* right GNB end*/

/* ******* */
/* 12.12수정 */
/* dep2 박스조정 */
.dep2 {
  display: none;
  position: absolute;
  top: 140px;
  left: 80px;
  width: 1070px;
  /* dep2 위치 */
  /* position: relative;
  top: 379px;
  left: -224px;
  width: 1131px; */
}

/* dep1 올릴시 나타남 */
.dep1 li:hover .dep2 {
  display: block;
}
.dep2 > li {
  display: flex; /* de2 list의 다음 왼쪽정렬 */
  background-color: #384046;
}
/* depth 2 */
.dep2 > li > a {
  /* new지식 */
  flex-shrink: 0;
  display: inline-block;
  /* border-bottom: 1px solid #25272d; */
  width: 199px;
  background-color: #2e363d;
  color: #df3326;
  font: 14px "arial";
  /* width: 150px; */
  padding: 10px 30px 10px 10px;
}
.dep2 > li + li {
  border-top: 1px solid #25272d;
}

.dep2 > li:hover > a {
  display: block;
  background-color: #ef4030;
  color: white;
  /* padding: 10px 0 10px 25px; */
}

/* depth 3 */
/* 12.12수정 q */
.dep3 {
  /* q */
  /* overflow: hidden; */
  /* width: calc(100% - 224px); */
  width: 100%;
  padding: 5px 15px;
  line-height: 1.75;

  /* 12-11 추가 */
}
.dep3 img {
  display: inline-block;
  margin: 0 8px 0 8px;
}
/* 12.12수정 */
.dep3 li {
  float: left; /* dep3 list 컨텐츠 왼쪽정렬 */
  width: 33.33%; /* 컨텐츠 3개씩 정렬 */
}
.dep3 li a {
  color: #b4b6c1;
  font-size: 14px;
  padding: 4px 4px 10px 0;
}

.dep3 li:hover a {
  color: white;
  text-decoration: underline;
}

/* ----------------section1(main visual)--------------------- */

.section1 .section1__inner {
  position: static; /* 기본값 */
  max-width: 100%;
  height: 950px;
  background: url(./gist_images/gist_mainvisual.png) no-repeat;
  background-size: cover;
}
/* section2------------------------------------------------------ */
/* 전체틀 */
.section2 {
  position: relative; /* 캘린더박스 absolute 기준 */
  width: 100%;
  height: 877px;
  background-color: white;
  padding: 95px 0;
}

/* 섹션 이너 1200.. */
/* section [class*="__inner"] {
  max-width: 1200px;
} */
.section2__inner {
  max-width: 1200px;
}

/* -- sec2_ notice1 -- */

/* h2와 ul 플랙스 */
.section2 .notice_1 {
  /* dep2기준잡기위해 */
  position: relative;
  display: flex;
  align-items: flex-end;
}

/* h2태그 (NOW)*/
.notice_1 h2 {
  display: inline-block;
  font-size: 50px;
  line-height: 52px;
  color: #484848;
  font-weight: 600;
  letter-spacing: -3px;
  font-family: "Nanum Myeongjo", serif;
}
/* dep1 메뉴들 플렉스 */
.notice_1 .NOW_dep1 {
  display: flex;
  margin-left: 40px; /* h2태그와 간격주기위해 */
}

/* dep1 속성들 */
.notice_1 .btn {
  /* position: relative; */
  display: inline-block;
  padding: 0 10px 12px;
  margin: 0 10px;
  font-size: 20px;
  line-height: 22px;
  color: #4b4d50;
  letter-spacing: -1px;
  text-align: center;
  font-family: "Nanum Myeongjo", serif;
}

/* dep2 전체 ul덩어리들 */
.notice_1 .count {
  /* display: none; */
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
}

.NOW_dep2 li {
  /* position: relative; */
  display: flex;
  width: 46%; /* morebox 공간주기위해 46퍼 */
  padding: 10px 4.5% 9px 4.5%;

  /* 태그 등의 영역 크기를 100px으로 설정했을 때

  /* ***************** */
  /* 개념 다시 알아보기 */
  /* width height값 영향받게 패딩값 영향x*/
  box-sizing: border-box;
  /* align-items: center; */
}

.NOW_dep2 li:nth-child(even) {
  border-left: 1px dashed #ddd;
}

.NOW_dep1 .dep2_text {
  display: block;
  width: 100%;
  height: 50px;
  padding-right: 20px;
  font: 16px "Noto Sans KR", sans-serif;
  line-height: 25px;
  color: #000;
  letter-spacing: -1px;
  overflow: hidden;
}
.NOW_dep1 .day {
  display: block;
  font-size: 15px;
  line-height: 22px;
  color: #666;
  letter-spacing: -1px;
}

.NOW_dep2 {
  display: flex;
  /* ********************* */
  /* 개념 다시 알아보기 */
  /* 컨테이너가 더 이상 아이템들을 한 줄에 담을 여유 공간이 없을 때
아이템 줄바꿈을 어떻게 할지 결정하는 속성입니다. */
  flex-wrap: wrap;
}

/* ---morebox 관련--- */

.NOW_dep1 .count {
  display: flex;
  justify-content: flex-end;
}

.NOW_dep1 .more_box {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px dashed #c3c3c3;
}

.NOW_dep1 .more_box .more_txt {
  /* text */
  font: 13px "Noto Sans KR", sans-serif;
  display: inline-block;
  padding: 62px 0 20px 12px;
  position: relative;
  /* red pointer */
  /* position: absolute;
  left: 0;
  top: 0;
  background-color: red;
  width: 1px;
  height: 76px; */
}

/* 가로줄 */
.NOW_dep1 .more_box .more_txt::before {
  /* red pointer */
  content: "";
  position: absolute;
  left: 44px;
  top: 28px;
  background-color: red;
  width: 76px;
  height: 1px;
  transition: all 0.4s;
}

/* 세로줄 */
.NOW_dep1 .more_box .more_txt::after {
  /* red pointer */
  content: "";
  position: absolute;
  left: 83px;
  top: -7px;
  background-color: red;
  width: 1px;
  height: 76px;
  transition: all 0.4s;
}
/* 호버시 redpointer 좌표값 */
.NOW_dep1 .more_box:hover .more_txt::before {
  left: 23px;
  top: 36px;
}

.NOW_dep1 .more_box:hover .more_txt::after {
  left: 60px;
  top: 0px;
}

/* -- sec2_ notice2 -- */

/* -- //sec2_ notice2 -- */
.section2 .notice_2 {
  position: relative;
  top: 419px;
  left: -71px;
}

.popup_zone .popup_title {
  position: absolute;
  left: -48px;
  top: -122px;
  font: 20px "Nanum Myeongjo", serif;
  transform: rotate(270deg);
}
.popup_zone .popup_banner img {
  width: 600px;
}
/* --notice3-- */
/* 캘린더전체위치기준 */
.section2 .notice_3 {
  position: relative;
  top: 12px;
  left: 608px;
}
/* 최상위 제목 */

.notice_3 .cal_h2 {
  font: 50px "Nanum Myeongjo", serif;
  color: #df3127;
  letter-spacing: -4px;
  font-weight: bold;
}
.title_more_wrap {
  display: flex;
  align-items: center;
}

/* more_box */
.notice_3 .more_box {
  left: 41.1%;
  top: -30px;
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px dashed #c3c3c3;
}

.notice_3 .more_box .more_txt {
  /* text */
  font: 13px "Noto Sans KR", sans-serif;
  display: inline-block;
  padding: 62px 0 20px 12px;
  position: relative;
  /* red pointer */
  /* position: absolute;
  left: 0;
  top: 0;
  background-color: red;
  width: 1px;
  height: 76px; */
}
.notice_3 .more_box .more_txt::before {
  /* red pointer */
  content: "";
  position: absolute;
  left: 44px;
  top: 28px;
  background-color: red;
  width: 76px;
  height: 1px;
  transition: all 0.4s;
}

/* 세로줄 */
.notice_3 .more_box .more_txt::after {
  /* red pointer */
  content: "";
  position: absolute;
  left: 83px;
  top: -7px;
  background-color: red;
  width: 1px;
  height: 76px;
  transition: all 0.4s;
}

.notice_3 .more_box:hover .more_txt::before {
  left: 23px;
  top: 36px;
}

.notice_3 .more_box:hover .more_txt::after {
  left: 60px;
  top: 0px;
}
/* //more_box */

/* 2nd 제목 */
.notice_3 .cld_title {
  font: 42px "Nanum Myeongjo", serif;
  font-weight: bold;
  margin: 20px 0 40px 0;
}
.notice_3 .cld_flex {
  display: flex;
  margin-bottom: 3px;
}

/* red_big : 일 */
.notice_3 .cld_day {
  font: 40px "Nanum Myeongjo", serif;
  color: #df3127;
  font-weight: bold;
}
/* mon_year 과 cld_text flex */
.notice_3 .cld_today {
  display: flex;
}
/* 월 */
.notice_3 .cld_today .year_box .mon_year {
  /* display:block; */
  font: 14px "Noto Sans KR", sans-serif;
  color: #595959;
  line-height: 1.1;
  margin: 10px 0 0 15px;
}
/* list 전체 */
.notice_3 .cld_today .cld_txt {
  margin: 10px 0 0 30px;
}

.notice_3 .cld_today .cld_txt li {
  margin-bottom: 25px;
}
.notice_3 .cld_today .cld_txt a {
  margin-left: 5px;
}
.notice_3 .cld_today .cld_txt .today_txt {
  font: 17px "Noto Sans KR", sans-serif;
}
.notice_3 .cld_today .cld_txt li img {
  margin-bottom: 5px;
}
/* --//notice3-- */
/* section3--------------------------------------------------------- */

.section3 {
  position: relative;
  width: 100%;
  height: 910px;
  background-color: white;
  top: -15px;
}
.section3 .sec3_bg {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(./gist_images/sec3_bg.jpg) no-repeat center center;
}
.white_box1 {
  width: 721px;
  height: 100px;
  background-color: white;
}

.sec3_bg .white_box2 {
  position: relative;
  top: 750px;
  left: 723px;
  width: 721px;
  height: 62px;
  background-color: white;
  z-index: 15;
}
.sec3_bg .gray_box {
  position: absolute;
  top: 575px;
  width: 1440px;
  height: 336px;
  /* background-color: #4f5354; */
  background-color: rgba(79, 83, 84, 0.9);
  z-index: 10;
}

/* section3 more box */
.sec3_bg .more_box {
  position: absolute;
  left: 1220px;
  top: 60px;
  width: 100px;
  height: 100px;
  border: 1px dashed white;
}
.sec3_bg .more_box .more_txt {
  /* text */
  position: relative;
  display: inline-block;
  padding: 62px 0 20px 12px;
  font: 13px "Noto Sans KR", sans-serif;
  color: white;
  /* red pointer */
  /* position: absolute;
  left: 0;
  top: 0;
  background-color: red;
  width: 1px;
  height: 76px; */
}
/* 가로줄 */
.sec3_bg .more_box .more_txt::before {
  /* red pointer */
  content: "";
  position: absolute;
  left: 44px;
  top: 28px;
  background-color: red;
  width: 76px;
  height: 1px;
  transition: all 0.4s;
}
/* 세로줄 */
.sec3_bg .more_box .more_txt::after {
  /* red pointer */
  content: "";
  position: absolute;
  left: 83px;
  top: -7px;
  background-color: red;
  width: 1px;
  height: 76px;
  transition: all 0.4s;
}
/* 호버시 redpointer 좌표값 */
.sec3_bg .more_box:hover .more_txt::before {
  left: 22px;
  top: 36px;
}
.sec3_bg .more_box:hover .more_txt::after {
  left: 60px;
  top: 0px;
}
/* //section3 more box */

/* section3 count img */
.sec3_bg .fourth {
  position: absolute;
  left: 120px;
  top: 275px;
}

.sec3_bg .first {
  position: absolute;
  left: 809px;
  top: 120px;
}

.billion_img {
  position: absolute;
  left: 617px;
  top: 415px;
}

/* //section3 count img */

/* section3 count text */
.sec3_bg .sec3_title1 {
  position: absolute;
  top: 155px;
  left: 120px;
  font-weight: lighter;
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif;
  color: #4b4b4b;
  letter-spacing: -1px;
}
.sec3_title2 {
  position: absolute;
  top: 185px;
  left: 122px;
  font-size: 40px;
  font-weight: 600;
  font-family: "Nanum Myeongjo", serif;
}

.fourth_txt {
  position: absolute;
  top: 300px;
  left: 277px;
  font-size: 35px;
  color: #2f363c;
  letter-spacing: -2px;
  font-family: "Noto Sans KR", sans-serif;
  line-height: 40px;
}
.sec3_title2 span {
  color: red;
}

.first_txt {
  position: absolute;
  top: 209px;
  left: 1030px;
  line-height: 45px;
  letter-spacing: -1px;
  color: #2f363c;
  font-size: 37px;
  font-family: "Noto Sans KR", sans-serif;
}

.billion_txt {
  position: absolute;
  top: 445px;
  left: 1035px;
  letter-spacing: -2px;
  line-height: 25px;
  color: white;
  font-size: 25px;
  font-family: "Noto Sans KR", sans-serif;
}
/* //section3 count text */
/* section3 interview*/

.sec3_bg .interview_content h3 {
  position: absolute;
  top: 630px;
  left: 120px;
  font-size: 32px;
  font-family: "Nanum Myeongjo", serif;
  color: white;
  z-index: 15;
}
/* readmore box */
.interview_content .read_more_box {
  position: absolute;
  top: 810px;
  left: 120px;
  border: 1px solid white;
  width: 160px;
  height: 50px;
  z-index: 15;
}
.interview_content .read_more_box a {
  position: absolute;
  padding: 12px 47px 14px 36px;
  font-size: 17px;
  color: white;
  letter-spacing: -1px;
}
.interview_content .read_more_box a::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 125px;
  background-color: #dbdcdc;
  width: 60px;
  height: 2px;
  transition: all 0.5s;
}
.interview_content .read_more_box a::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 172px;
  background-color: #dbdcdc;
  width: 15px;
  height: 2px;
  transform: rotate(45deg);
  transition: all 0.5s;
}
.interview_content .read_more_box:hover a::before {
  top: 25px;
  left: 159px;
}
.interview_content .read_more_box:hover a::after {
  top: 20px;
  left: 206px;
}
/* //readmore box */

/* section4 SNS---------------------------------------------------- */
.section4 .section4__inner {
  position: relative;
  height: 225px;
  width: 100%;
  background: url(./gist_images/sec4_bg.gif) no-repeat center center;
}
.section4 .section4__inner .sec4_layout {
  max-width: 1200px;
  width: 100%;
  height: inherit;
  margin: 0 auto;
}
.sec4_layout .sec4_tit1 {
  position: absolute;
  top: 50px;
  left: 130px;
  font-size: 48px;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 600;
  color: #df3127;
}
.sec4_layout .sec4_tit2 {
  position: absolute;
  top: 100px;
  left: 130px;
  font-size: 48px;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 600;
  color: black;
}
.sec4_layout .sns_menu {
  position: absolute;
  top: 80px;
  left: 310px;
}
.sec4_layout .sns_menu .sns_menu_list {
  position: relative;
  display: flex;
}
.sec4_layout .sns_menu .sns_menu_list li {
  padding-left: 100px;
}
.sec4_layout .sns_menu .sns_menu_list a {
  position: absolute;
  top: 13px;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  font-family: "Nanum Myeongjo", serif;
}
.sec4_layout .sns_menu .sns_menu_list li:hover a {
  color: red;
}
/* sec4 more box */
.sec4_layout .more_box {
  position: absolute;
  top: 58px;
  left: 85.5%;
  width: 100px;
  height: 100px;
  border: 1px dashed #c3c3c3;
}

.sec4_layout .more_box .more_txt {
  /* text */
  font: 13px "Noto Sans KR", sans-serif;
  display: inline-block;
  padding: 62px 0 20px 12px;
  position: relative;
  /* red pointer */
  /* position: absolute;
  left: 0;
  top: 0;
  background-color: red;
  width: 1px;
  height: 76px; */
}

/* 가로줄 */
.sec4_layout .more_box .more_txt::before {
  /* red pointer */
  content: "";
  position: absolute;
  left: 44px;
  top: 28px;
  background-color: red;
  width: 76px;
  height: 1px;
  transition: all 0.4s;
}

/* 세로줄 */
.sec4_layout .more_box .more_txt::after {
  /* red pointer */
  content: "";
  position: absolute;
  left: 83px;
  top: -7px;
  background-color: red;
  width: 1px;
  height: 76px;
  transition: all 0.4s;
}
/* 호버시 redpointer 좌표값 */
.sec4_layout .more_box:hover .more_txt::before {
  left: 23px;
  top: 36px;
}

.sec4_layout .more_box:hover .more_txt::after {
  left: 60px;
  top: -1px;
}
/* //section4 SNS*/

/* ----------------------------------------------------------------- */
/* section5  contents_box------------------------------------ */

.section5 .section5__inner {
  height: 937px;
  max-width: 100%;
  background: url(./gist_images/sec5_bg.jpg) no-repeat center;
  background-size: cover;
}
.section5 .section5__inner .sec5_layout {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  height: inherit;
  top: 130px;
}

.section5__inner .sec5_layout .color_box {
  position: relative;
  top: -4px;
  left: 685px;
  width: 65px;
  height: 65px;
  background-color: #4a5466;
}
.color_box::before {
  content: "";
  position: absolute;
  top: 365px;
  left: -85px;
  width: 65px;
  height: 65px;
  background-color: rgb(121, 143, 185);
}
.color_box::after {
  content: "";
  position: absolute;
  top: 65px;
  left: 515px;
  width: 65px;
  height: 65px;
  background-color: rgb(121, 143, 185);
}
/* 전체 박스크기 */
.sec5_layout .content_box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
/* 왼쪽정렬위해 */
/* .content_box {
  display: flex;
  flex-wrap: wrap;
} */

/* a tag boxsize & common요소*/
.sec5_layout .content_box a {
  display: inline-block;
  width: 150px;
  height: 150px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
  margin-top: -4px;
}

.content_box li:hover a img {
  transform: scale(1.2);
  transition: all 0.3s;
}
.content_box li:hover a span {
  transform: scale(1.1);
  transition: all 0.3s;
}

/* 1box */
.sec5_layout .content_box .content1 {
  background-color: #2f363c;
}
.sec5_layout .content_box .content1 img {
  position: absolute;
  top: 40px;
  left: 50px;
}
.sec5_layout .content_box .content1 span {
  position: absolute;
  left: 20px;
  top: 110px;
  color: white;
}
/* //1box */
/* 2box */
.sec5_layout .content_box .content2 {
  background-color: #df3127;
}
.sec5_layout .content_box .content2 img {
  position: absolute;
  top: 40px;
  left: 200px;
}
.sec5_layout .content_box .content2 span {
  position: absolute;
  left: 195px;
  top: 110px;
  color: white;
}
/* //2box */

/* 3box */
.sec5_layout .content_box .content3 {
  background-color: white;
}
.sec5_layout .content_box .content3 img {
  position: absolute;
  top: 40px;
  left: 29.3%;
}
.sec5_layout .content_box .content3 span {
  position: absolute;
  left: 27.5%;
  top: 110px;
  color: black;
}
/* //3box */

/* 4box */
.sec5_layout .content_box .content4 {
  background-color: rgb(255, 255, 255, 0.4);
}
.sec5_layout .content_box .content4 img {
  position: absolute;
  top: 40px;
  left: 41.6%;
}
.sec5_layout .content_box .content4 span {
  position: absolute;
  left: 40.3%;
  top: 110px;
  color: black;
}
/* //4box */
/* 5box null */
.sec5_layout .content_box .null {
  width: 150px;
  height: 150px;
}
/* /5box null */
/* 6box */
.sec5_layout .content_box .content6 {
  background-color: #df3127;
}
.sec5_layout .content_box .content6 img {
  position: absolute;
  top: 30px;
  left: 66.5%;
}
.sec5_layout .content_box .content6 span {
  position: absolute;
  left: 65.3%;
  top: 110px;
  color: white;
}
/* //6box */
/* 8box */
.sec5_layout .content_box .content8 {
  background-color: white;
}
.sec5_layout .content_box .content8 img {
  position: absolute;
  top: 45px;
  left: 91.4%;
}
.sec5_layout .content_box .content8 span {
  position: absolute;
  left: 91.4%;
  top: 110px;
  color: black;
}
/* //8box */
/* 10box handshake*/
.sec5_layout .content_box .content10 {
  background-color: rgb(0, 0, 0, 0.2);
}
.sec5_layout .content_box .content10 img {
  position: absolute;
  top: 185px;
  left: 16%;
}
.sec5_layout .content_box .content10 span {
  position: absolute;
  top: 250px;
  left: 13%;
  color: white;
}
/* //10box handshake*/
/* 12box bulb */
.sec5_layout .content_box .content12 {
  background-color: #4a5466;
}
.sec5_layout .content_box .content12 img {
  position: absolute;
  top: 185px;
  left: 42%;
}
.sec5_layout .content_box .content12 span {
  position: absolute;
  top: 257px;
  left: 41.5%;
  color: white;
}
/* 14box 3d 사이버 */
.sec5_layout .content_box .content14 {
  background-color: #2f363c;
}
.sec5_layout .content_box .content14 img {
  position: absolute;
  top: 195px;
  left: 66.4%;
}
.sec5_layout .content_box .content14 span {
  position: absolute;
  top: 257px;
  left: 65%;
  color: white;
}
/* 14box 3d 사이버 */
/* 15box 발전기금 */
.sec5_layout .content_box .content15 {
  background-color: rgb(255, 255, 255, 0.4);
}
.sec5_layout .content_box .content15 img {
  position: absolute;
  top: 195px;
  left: 78.8%;
}
.sec5_layout .content_box .content15 span {
  position: absolute;
  top: 257px;
  left: 78.6%;
  color: black;
}
/* //15box 발전기금 */
/* 16box 전자도서관 */
.sec5_layout .content_box .content16 {
  background-color: rgba(0, 0, 0, 0.2);
}
.sec5_layout .content_box .content16 img {
  position: absolute;
  top: 195px;
  left: 91.6%;
}
.sec5_layout .content_box .content16 span {
  position: absolute;
  top: 257px;
  left: 90.8%;
  color: white;
}
/* //16box 전자도서관 */
/* //section5 contents_box */

.sec5_layout .final_tit {
  top: 140px;
  position: relative;
  /* 글씨 테두리 */
  text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
  /* 그림자 */
  text-shadow: 2px 2px 2px #000;
  text-align: center;
  font-weight: 500;
}
/* final_tit */
.sec5_layout .final_tit .tit01 {
  color: white;
  font-size: 33px;
  font-family: "Nanum Myeongjo", serif;
}
.sec5_layout .final_tit .tit02 {
  margin-bottom: 40px;
  color: white;
  font-size: 18px;
  font-family: "Noto Sans KR", sans-serif;
}
/* //final_tit */

/* footer ----------------------------------------------------------- */
#footer .footer__inner {
  position: relative;
  max-width: 100%;
  height: 244px;
  background-color: #464d52;
}
#footer .footer__inner .footer_layout {
  width: 1200px;
  margin: 0 auto;
  height: inherit;
}
